@import "../globals.scss";

#Header {
  color: $primary-text-color;
  text-align: center;
  overflow: hidden;
  width: 120%;
  background-color: $secondary-bg-color;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
}
