@import "../globals.scss";

.navBar {
  background-color: $nav-bg-color;
  height: 70px;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;

  button {
    background: $nav-bg-color;
    color: $primary-text-color;
    border: none;
    padding: 12px;
    margin: 12px 0;
    font-size: 1.125rem;

    &:hover {
      color: $highlight-color;
    }
  }
}

