@import "../globals.scss";

.navBar {
  background-color: $nav-bg-color;
  height: 70px;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;

  button {
    background: $nav-bg-color;
    color: $primary-text-color;
    border: none;
    padding: 0px 0px 20px 0px;
    margin: 24px 12px 0 12px;
    font-size: 1.125rem;

    &:hover {
      color: $highlight-color;
    }

    &.selected {
      color: $highlight-color;
      border-bottom: 4px solid $highlight-color;
    }
  }
}

