$primary-bg-color: #292A2D;
$secondary-bg-color: #222733;
$nav-bg-color: #252627;
$primary-text-color: #A9A9B3;
$highlight-color: #E6A40B;

$margin-xs: 8px;
$margin-s: 16px;
$margin-m: 24px;
$margin-l: 32px;
$margin-xl: 64px;
$margin-xxl: 128px;

html {
  background-color: $nav-bg-color;
  font-size: 16px;
}

body {
  padding-top: 56px;
  overflow-x: hidden;
}

h1 {
  font-size: 2.625rem;
  margin-top: $margin-xl;
  margin-bottom: $margin-m;
}

h2 {
  font-size: 1.25rem;
  margin-top: $margin-xl;
  margin-bottom: $margin-xl;
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
}
