$primary-bg-color: #292A2D;
$secondary-bg-color: #222733;
$nav-bg-color: #252627;
$primary-text-color: #A9A9B3;
$highlight-color: #E6A40B;

$margin-xs: 8px;
$margin-s: 16px;
$margin-m: 32px;
$margin-l: 64px;
$margin-xl: 128px;

html {
  font-size: 16px;
}

h1 {
  font-size: 2.625rem;
  margin-top: $margin-l;
}

h2 {
  font-size: 1.25rem;
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
}
